{:paths ["src"]
 :tasks {example
         {:doc "an example of how to refactor these functions"
          :task (exec 'tasks/example-task)}
         get-hardware-version
         {:doc "Gets the hardware version of the Raspberry Pi."
          :task (exec 'tasks/get-hardware-version)}
         set-output
         {:doc "Sets a GPIO pin to output."
          :task (exec 'tasks/set-output)}
         write-pin
         {:doc "Writes a high or low value to a GPIO pin."
          :task (exec 'tasks/write-pin)}
         read-pin
         {:doc "Reads the level of a GPIO pin."
          :task (exec 'tasks/read-pin)}}}
